body{
    
 
    margin: 0 auto;

    background-color: rgb(250, 250, 245);
}

.container{

    width: 100%;
    max-width: 1000px;
    
    border: 1.5px solid rgb(233, 182, 16);
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
   background-color: rgb(247, 243, 238);
}
.header_container{
    background-color:#3b5d79;
    height:200px;
    
    }
    header{display: flex;
       flex-direction: column;
        align-items: center;
        align-content: center;
    }
   .nav{width: 100%;
    background-color:#ffcccc;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;
   
  
   }
   .nav_p{
     padding-right: 50px;
   }
    aside{
        background-color:#ffcccc;
        width: 350px;
        height: auto;
        text-align: center;
    }
    .skills{
        display: block;
        text-align: center;


    }
    .aside_ul{
        display: block;
        text-align: left;
       
    }
    .aside_li{
        padding-bottom: 3px;
    }
    .emaile{
padding-bottom: 25px;
    }
    p{
       
    }
    .about_me{
        margin-top: 30px;
        padding-left: 10px;
    }
    .container_main{
        display: flex;
        text-align: center;
        justify-content: center;
        margin-top: 0px;
       
       
    }
    .about_h{
        text-align: center;
        justify-content: center;
    }
    .languages{
        text-align: left;
        padding-left: 10px;
    }
    .code{
        margin-left: auto;
        margin-right: auto;
        width: 600px;
        background-color: black;
        color: white;
        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: 10px;
    }
   .languages_li{
    display: block;
    text-align: left;
   }

  .container_footer{
    height: 200px;
   background-color: #3b5d79;
  }
  a{
    text-decoration: none;
    color: black;
  }